.spends-table-wrapper{
  overflow-x: auto;
}
.spends-table {
  min-width: 1036px;
  margin: 5px auto;
  border-collapse: collapse;
  background-color: white;
  width: 95%;
}
.spends-table-quantity{
  color: var(--red);
  font-weight: 600;
  text-align: center;
}
.spends-table th{
  background-color: var(--darkPurple);
  color: white;
}
.spends-table tr:nth-child(odd){
  background-color: var(--grayish);
}
.spends-table tr:hover {
  background-color: var(--lighterPurple);
  cursor: pointer;
}
.spends-table td, .spends-table th {
  border: 1px solid #ddd;
  padding: 8px;
}