.filter-bar-container, .filter-container{
  padding: 15px;
}
.filter-container{  
  width: 100%;
  background-color: white;
  position: absolute;
  z-index: 200;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.filter-toggle-button{
  cursor: pointer;
  padding: 5px 10px;
  transition: all 0.2s;
  border-radius: 20px;
}
.filter-toggle-button-selected, .filter-toggle-button:hover{
  font-weight: bolder;
  background-color: var(--lightPurple);
  color: var(--darkerPurple);
}
.filter-closed{
  opacity: 0;
  visibility:hidden
}
.filter-container, .filter-bar-container{
  background-color: var(--darkerPurple);
  color: white;
}
