.spends-table {
  margin: 0 auto;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: white;
  width: 95%;
}
.spends-table-quantity{
  color: var(--red);
  font-weight: 600;
  text-align: center;
}
.spends-table th{
  background-color: var(--darkPurple);
  color: white;
}
.spends-table tr:hover {
  background-color: var(--pinky);
  color: var(--darkPurple);
  cursor: pointer;
}

.spends-table td, .spends-table th {
  border: 1px solid #ddd;
  padding: 8px;
}