.confirm-msg-wrapper{
  position:absolute;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background:rgba(0, 0, 0, 0.5);
  visibility: hidden;
}
.confirm-msg-wrapper-opened{
  visibility: visible;
}
.confirm-msg-wrapper-closed{
  visibility: hidden;
}
.confirm-message p{
  font-size: 1.2em;
  padding: 20px 0;
}
.confirm-msg-btn-wrapper{
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.confirm-msg-button{
  width: 5.5em;
  font-size: 1.2em;
  padding: 3px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  color: white;
}
.confirm-msg-btn-yes{
  background-color: var(--green);
}
.confirm-msg-btn-no{
  background-color: var(--red);
}
.confirm-msg-btn-yes:hover{
  background-color: var(--green-darker);
}
.confirm-msg-btn-no:hover{
  background-color: var(--red-darker);
}
