.ribbon{
  position: absolute;
  color: white;
  padding: 20px;
  top:-100px;
  box-shadow: 0px 0px 20px 100vh rgba(0, 0, 0, 0.3);
}
.ribbon-yes{
  background-color: var(--green);
}
.ribbon-no{
  background-color: var(--red);
}
.ribbon-opened{
  transition: all 0.5s;
  transform: translateY(100px);
}
.ribbon-closed{
  transform: translateY(-100px);
  transition: all 0.5s;
  box-shadow: 0px 0px 20px 100vh rgba(0, 0, 0, 0);
}
.ribbon span{
  padding: 0 10px;
}