.billcard-wrapper{
 max-width: 260px;
}
.card-amount-label{
  color:var(--green);
  font-size: 3rem;
}
.card-date-label{
  padding-top: 5px;
  color: var(--greyText);
}
.card-button-container{
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.card-button{
  border-radius: 0px;
  border: 2.5px solid;
  padding: 5px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 1px 1px 10px -2px #888888;
}
.card-button span{
  display: flex;
  font-size: 2.6em;
}
.card-button:hover{
  color: #fff;
  transition: 0.4s;
}
.edit-button{
  color: var(--darkPurple);
  border: 2.5px solid var(--darkPurple);
}
.edit-button:hover{
  background-color: var(--darkPurple);
}
.delete-button{
  color: var(--red);
  border: 2.5px solid var(--red);
}
.delete-button:hover{
  background-color: var(--red);
}