button{
  border: none;
  background: rgba(0, 0, 0, 0);
  color: var(--whiteText);
  cursor: pointer;
  padding: 5px;
  padding-left: 20px;
}
.icon{
  font-size: 35px;
}
.themenu a{
  text-decoration: none;
  color: white;
}
/* modal full screen */
.menu-wrapper{
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  display: flex;
  top:var(--headerHeight);
  width: 100%;
  height: calc(100% - var(--headerHeight));
}
.menu-wrapper-opened{
  transform: translateX(0%);
  transition: transform .4s;
}
.menu-wrapper-closed{
  position: absolute;
  transform: translateX(-100%);
  transition: transform 0.4s;
}
.themenu{
  position: relative;
  background: var(--darkPurple);
  min-width: 300px;
  width: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}

.rest{
  width: 100%;
}
/* --modal full screen */

ul,li{
  list-style: none;
  padding: 5px 0 5px 0;
}

.element-container:hover{
  background-color: var(--lightPurple);
  cursor: pointer;
  transition: 0.2s;
}

.element-container{
  padding: 15px;
  display: flex;
  align-items: center;
}

.element-container span{
  padding-right: 10px;
}
.submenu-parent{
  position: relative;
}
.submenu{
  background-color: var(--darkerPurple);
  padding-left: 20px;
  position: absolute;
  bottom:0;
  width: 100%;
}
.submenu-open{
  visibility: visible;
  position: relative;
}
.submenu-closed{
  visibility: hidden;
}
