* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

body{
  --darkPurple: #7F669D;
  --lightPurple : #BA94D1;
  --pinky : #DEBACE;
  --creamy : #FBFACD;
  --whiteText : #fff;
}