* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}
.content{
  display: flex;
}
body{
  --darkerPurple :#735d8e;
  --darkPurple: #7F669D;
  --lightPurple : #BA94D1;
  --pinky : #DEBACE;
  --creamy : #FBFACD;
  --whiteText : #fff;
  --greyText : #979797;
  --background : #E1E1E1;
  --green : #119937;
  --green-darker : #0e832f;
  --red : #DF2929;
  --red-darker: #c22525;
  background: var(--background);
}

/* card common styles */
.card{
  background-color: var(--whiteText);
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 1px 1px 5px -2px #888888;
}
.card p{
  font-size: 25px;
}
.modal-container{
  position:absolute;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color:rgba(0, 0, 0, 0.5);
  outline: 1px solid red;
}
.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row{
  display: flex;
  align-items: center;
}
.flex-centered{
  display: flex;
  align-items: center;
  justify-content: center;
}